@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="bg-dark text-white pt-4 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <!-- Logo & Mô tả -->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-3">MyWebsite</h5>
                <p>Chúng tôi cung cấp giải pháp tối ưu cho nhu cầu của bạn. Hãy kết nối với chúng tôi qua các kênh dưới đây.</p>
            </div>

            <!-- Liên kết -->
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Liên kết</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Về chúng tôi</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Dịch vụ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <!-- Mạng xã hội -->
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Theo dõi</h6>
                <a class="text-white"><i class=" fa-brands fa-facebook-f"></i></a>
                <a class="text-white"><i class="fa-brands fa-google"></i></a>
                <a class="text-white"> <i class="fa-brands fa-twitter"></i></a>
                <a class="text-white"><i class="fa-brands fa-youtube"></i></a>
                
                
               
                
            </div>
        </div>

        <hr class="border-top border-light mt-4" />

        <!-- Bản quyền -->
        <div class="text-center">
            <p class="mb-0">&copy; @DateTime.Now.Year MyWebsite. All rights reserved.</p>
        </div>
    </div>
</footer>
