@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- header -->

    <div class="text-light" style="background-color: rgb(46, 105, 41);">
        <div class=" d-flex justify-content-end gap-3 py-2  " style=" padding: 0 100px;">
            <i class=" fa-brands fa-facebook-f" style="font-size: 16px;"></i>
            <i class="fa-brands fa-google" style="font-size: 16px;"></i>
            <i class="fa-brands fa-twitter" style="font-size: 16px;"></i>
            <i class="fa-brands fa-youtube" style="font-size: 16px;"></i>
        </div>
        <div class="w-100 bg-light  " style="height: 1px ;"></div>
        <div class="py-1 d-flex justify-content-center text-nowrap ">

            <div class="img d-flex justify-content-center align-items-end gap-2 p-2 ">
                <img src="image.png " style="width: 70px;height: 70px;" alt="logo ">
                <span class="fs-3 ">Nông sản Việt </span>
            </div>

        </div>
        <!-- navbar -->
        <ul class="list-unstyled d-flex justify-content-between  gap-2 text-nowrap" style="padding: 0 100px;">
            <li><a class="text-light  text-decoration-none " href="#"><i class="fa-solid fa-house me-1 "></i><span>Trang chủ </span></a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Tin tức</a>   </li>
            <li><a class="text-light  text-decoration-none " href="/Product/Shop">Sản phẩm</a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Blog </a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Blog </a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Blog </a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Blog </a> </li>
            <li><a class="text-light  text-decoration-none " href="#">Blog </a> </li>
            <li><a class="text-light  text-decoration-none " href="#"><input type="text"><i class="fa-solid p-2 fa-magnifying-glass" style="background-color: rgb(33, 75, 30);"></i> </a> </li>


        </ul>

    </div>
